.icon-left {
    position: absolute;
    left: 0;
    top: 0;
}
.icon-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.winter {
    background-color: aliceblue;
}
.summer {
    background-color: burlywood;
}
.season-display.winter i {
    color: blue;
}
.season-display.summer i {
    color: red;
}
.ui.segment {
    height: 100vh;
}
.border.red {
    border: 10px solid red;
}