.icon-left {
  position: absolute;
  left: 0;
  top: 0;
}
.icon-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.season-display h1 {
  color: white;
  font-size: 100px;
  text-shadow: 10px 10px 20px #dfdfdf;
}
.season-display.summer h1 {
  color: yellow;
  text-shadow: 10px 10px 20px #c2c200;
}
.winter {
  background: url("./Winter.jpg");
  background-position: center;
}
.summer {
  background: url("./Summer.jpg");
  background-position: center;
}
.season-display.winter i {
  color: rgb(137, 255, 255);
}
.season-display.summer i {
  color: rgb(255, 255, 157);
}
.season-display.summer i,
.season-display.winter i {
  -webkit-animation: spinning 4s infinite;
  -webkit-animation-delay: 0s;
  animation: spinning 4s infinite;
  animation-delay: 0s;
}
.ui.segment {
  height: 100vh;
}
.border.white {
  border: 10px solid white;
}

@-webkit-keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
